@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var home=Model.AncestorOrSelf(1);
    var websiteFavicon = home.Value<MediaWithCrops>("websiteFavicon");
}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Eyewide Digital Marketing Agency">
    <title>@Html.Raw(Model.Value("metaTitle", fallback: Fallback.To(Fallback.Ancestors, Fallback.Language)))</title>
    <meta name="description" content="@Html.Raw(Model.Value("metaDescription", fallback: Fallback.To(Fallback.Ancestors, Fallback.Language)))">
    @if (websiteFavicon != null){
    <link rel="icon" type="image/png" href="@websiteFavicon.Url()">
    }
    
    <!--LANGUAGES -->
    <link rel="alternate" hreflang="en" href="https://localhost:44383/">
    <link rel="alternate" hreflang="el" href="https://localhost:44383/gr">
    <link rel="alternate" hreflang="x-default" href="https://localhost:44383/">