<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac764a17-084c-4967-b805-63acc9f50b1f" Alias="accessibility" Level="2">
  <Info>
    <Parent Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d">Home</Parent>
    <Path>/Home/accessibility</Path>
    <Trashed>false</Trashed>
    <ContentType>textpage</ContentType>
    <CreateDate>2025-11-20T09:15:00</CreateDate>
    <NodeName Default="accessibility">
      <Name Culture="en-us">accessibility</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b379cbe2-4df2-44ba-b485-f582bf2678d7">Textpage</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[1]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "7a858944-2228-4b9b-96c7-e2742b58f3d1",
    "mediaKey": "4618e8d2-0931-412d-a96a-72bb4d9571f4"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[Accessibility]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales a felis in placerat. Mauris turpis sapien, lobortis vel nibh ut, blandit elementum dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed auctor neque, ut gravida nisl. Fusce sollicitudin neque nec nunc vehicula lacinia. In in velit maximus, suscipit risus a, placerat turpis. Sed placerat, nisl a commodo tempor, ex velit finibus ligula, nec vulputate turpis neque vitae nulla. Vivamus dapibus nisi porttitor nisi elementum, id ultricies tellus volutpat. Vivamus quis blandit ex, eget accumsan magna. Duis molestie pellentesque neque, id viverra tortor molestie nec.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[Accessibility]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[1]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>