<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ecd77bb-63b0-4e07-8ba0-6a3b0e04809e" Alias="awards" Level="3">
  <Info>
    <Parent Key="75c492f4-f00f-4d20-b28d-d9412e8253eb">hotel</Parent>
    <Path>/Home/hotel/awards</Path>
    <Trashed>false</Trashed>
    <ContentType>awardsPage</ContentType>
    <CreateDate>2025-11-14T12:07:08</CreateDate>
    <NodeName Default="awards">
      <Name Culture="en-us">awards</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="045cc698-8f53-4956-94c2-48b44258a88e">AwardsPage</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imageForListing>
      <Value><![CDATA[[
  {
    "key": "2217f685-18cb-40b3-bcfe-b1e9d8797424",
    "mediaKey": "15f59dc5-a502-4c65-afd3-048c82997f5f"
  }
]]]></Value>
    </imageForListing>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "d42f4b47-d165-4b53-8d08-ed6373c67d57",
    "mediaKey": "15f59dc5-a502-4c65-afd3-048c82997f5f"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[awards]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[awards]]></Value>
    </sectionTitle>
    <shortDescription>
      <Value Culture="en-us"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit.]]></Value>
    </shortDescription>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>