<?xml version="1.0" encoding="utf-8"?>
<Content Key="672347b6-f9ce-4f2f-9be7-c290aef9af5b" Alias="cookie settings" Level="2">
  <Info>
    <Parent Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d">Home</Parent>
    <Path>/Home/cookieSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>cookieSettingsPage</ContentType>
    <CreateDate>2025-11-05T14:47:55</CreateDate>
    <NodeName Default="cookie settings">
      <Name Culture="en-us">cookie settings</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c365ea87-8a60-4252-a73d-594230f3e523">CookieSettingsPage</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <cookieScript>
      <Value><![CDATA[]]></Value>
    </cookieScript>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[1]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[1]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[cookie settings]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[COOKIE SETTINGS]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[1]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>