<?xml version="1.0" encoding="utf-8"?>
<Content Key="561c6877-06e3-4a66-9fa2-6cd5f90adf5a" Alias="General" Level="3">
  <Info>
    <Parent Key="967fe57e-a458-4d7e-b218-59440cb90fdf">photo gallery</Parent>
    <Path>/Home/photoGallery/General</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2025-11-06T11:00:41</CreateDate>
    <NodeName Default="General">
      <Name Culture="en-us">General</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e0c86fe8-618a-4b60-8f3c-4fb1c8d67e64">GalleryPage</Template>
  </Info>
  <Properties>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <galleryImages>
      <Value><![CDATA[[
  {
    "key": "c698abdc-4c50-4382-aee0-4a3e7db47482",
    "mediaKey": "15f59dc5-a502-4c65-afd3-048c82997f5f"
  },
  {
    "key": "0c8b7f94-396b-41fc-a3c6-52d2b17dad1a",
    "mediaKey": "4a9d66d7-e6d5-416e-b72f-23e9edddc8a2"
  },
  {
    "key": "07afe4f0-826d-4709-8f33-11648e1b4d4a",
    "mediaKey": "4618e8d2-0931-412d-a96a-72bb4d9571f4"
  },
  {
    "key": "21a8dc33-219d-4452-b1c7-ab6fbaf8ad53",
    "mediaKey": "fa9d607f-06af-4159-b339-de46a909954a"
  },
  {
    "key": "4f19c584-6768-403c-bf65-002f5598bac1",
    "mediaKey": "89161d78-a3cf-4711-a7ec-702019c45a27"
  },
  {
    "key": "fa81a365-fc8a-42e9-a022-bb312f143f7f",
    "mediaKey": "d39efb02-064b-4055-9958-ee53eb292de3"
  },
  {
    "key": "5de9579e-ec2e-410d-bd76-bbfa59d98d56",
    "mediaKey": "8ec5b303-9afe-4ddb-a38c-88a6e964db59"
  },
  {
    "key": "e299c568-c13f-415a-9ee2-d4522b8e2064",
    "mediaKey": "76f103af-d5d3-4561-929e-585618dbcf2d"
  }
]]]></Value>
    </galleryImages>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imageForListing>
      <Value><![CDATA[[
  {
    "key": "6f8d67b7-e8c8-49bd-a58e-cbca7bca074f",
    "mediaKey": "15f59dc5-a502-4c65-afd3-048c82997f5f"
  }
]]]></Value>
    </imageForListing>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "92bc3d23-6d74-41cb-90db-4b79c78f67c8",
    "mediaKey": "4618e8d2-0931-412d-a96a-72bb4d9571f4"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[General]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[General]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>