<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-04T10:49:19</CreateDate>
    <NodeName Default="Home">
      <Name Culture="el-gr">gr</Name>
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="el-gr">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="2d709d4d-fe15-4b66-83df-3e0765ae3fd1">HomePage</Template>
  </Info>
  <Properties>
    <awards>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ce5befebf56146d08fb0d389a77138b8",
        "settingsUdi": "umb://element/e3296943966e413b9e3cc262ea6a4f69"
      },
      {
        "contentUdi": "umb://element/d10fb71e64054cc0a58527946a85ebd9",
        "settingsUdi": "umb://element/ba38ac4762344822a47b1a0123574666"
      },
      {
        "contentUdi": "umb://element/e531d81ab4dc4218a5dd5fe4d9165b28",
        "settingsUdi": "umb://element/e031105728834f0b8ed72fc5e8be3f2a"
      },
      {
        "contentUdi": "umb://element/ba9631c9576a4bfba5dad5151ccc228d",
        "settingsUdi": "umb://element/3fc349a883e243698f3eb13da144f8b3"
      },
      {
        "contentUdi": "umb://element/80cb2cd16ef440a68942e9203da68fdf",
        "settingsUdi": "umb://element/692f4ec5fb234d019d7ff004cdf30cba"
      },
      {
        "contentUdi": "umb://element/20a78e2823c54d41ac422f63d1cd5e97",
        "settingsUdi": "umb://element/e5b08948a9c149c8b6da4220ef43b18d"
      },
      {
        "contentUdi": "umb://element/31fc6e3997db4c6a87f00164b2550915",
        "settingsUdi": "umb://element/07ed73049d6f4c11b2760f28ddd9f50a"
      },
      {
        "contentUdi": "umb://element/02f1d3182c1c408abcccf0574239ae2a",
        "settingsUdi": "umb://element/b5da3c67e0d54d7f939f63c8d151ce18"
      },
      {
        "contentUdi": "umb://element/9aade58b90114b1c924c4a4c2d8b8cdb",
        "settingsUdi": "umb://element/cb78d5fa6a2c4d9aa98d5b0c70d159b1"
      },
      {
        "contentUdi": "umb://element/df9593d54d544c39a68f5b73db7683ae",
        "settingsUdi": "umb://element/084a24d1298f49c1a20818344be091f1"
      },
      {
        "contentUdi": "umb://element/93eb55be74b947568ca66d85c837e6fc",
        "settingsUdi": "umb://element/9ca9bfc45953472ca0360548ba22b91f"
      }
    ]
  },
  "contentData": [
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/ce5befebf56146d08fb0d389a77138b8"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/d10fb71e64054cc0a58527946a85ebd9"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/e531d81ab4dc4218a5dd5fe4d9165b28"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/ba9631c9576a4bfba5dad5151ccc228d"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/80cb2cd16ef440a68942e9203da68fdf"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/20a78e2823c54d41ac422f63d1cd5e97"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/31fc6e3997db4c6a87f00164b2550915"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/02f1d3182c1c408abcccf0574239ae2a"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/9aade58b90114b1c924c4a4c2d8b8cdb"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/df9593d54d544c39a68f5b73db7683ae"
    },
    {
      "awardImage": [
        {
          "key": "fb55dd99-ee96-4fcf-9930-8aad7cb6ed72",
          "mediaKey": "b97909c5-bce2-4eb1-bcc6-5fc2c76c4e7f"
        }
      ],
      "awardLink": "",
      "awardTitle": "Award Name",
      "awardWidget": "",
      "contentTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "popupImage": "0",
      "udi": "umb://element/93eb55be74b947568ca66d85c837e6fc"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/e3296943966e413b9e3cc262ea6a4f69"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/ba38ac4762344822a47b1a0123574666"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/e031105728834f0b8ed72fc5e8be3f2a"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/3fc349a883e243698f3eb13da144f8b3"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/692f4ec5fb234d019d7ff004cdf30cba"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/e5b08948a9c149c8b6da4220ef43b18d"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/07ed73049d6f4c11b2760f28ddd9f50a"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/b5da3c67e0d54d7f939f63c8d151ce18"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/cb78d5fa6a2c4d9aa98d5b0c70d159b1"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/084a24d1298f49c1a20818344be091f1"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/9ca9bfc45953472ca0360548ba22b91f"
    }
  ]
}]]></Value>
    </awards>
    <bodySections>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8e2e5e1794ad44c987d2f43cab27d840",
        "settingsUdi": "umb://element/a619b5a67fbb468983a2d8dd58e61ef6"
      },
      {
        "contentUdi": "umb://element/1e839578f0444eeb9d15279757f7dcdb",
        "settingsUdi": "umb://element/2ac3943bce4048e7881861b3a06c1dd9"
      },
      {
        "contentUdi": "umb://element/5477be0202e04e67b38f33fb184a2d8d",
        "settingsUdi": "umb://element/c25fc00ffedd462b9e415be3476b9b56"
      },
      {
        "contentUdi": "umb://element/84b7ce581cd041a99c2d0bdcb211b02f",
        "settingsUdi": "umb://element/64f6ca1be7374bbab6b0f37ba9698946"
      },
      {
        "contentUdi": "umb://element/21feebc86ef343b38c10c902fc1f43aa",
        "settingsUdi": "umb://element/5d91fface6484b3fa9732020426a38cc"
      },
      {
        "contentUdi": "umb://element/c3cc0eb89bb2415b8caff6c70a9bf516",
        "settingsUdi": "umb://element/dcc8d3ce49944d1aac0ed1f416ce99e6"
      },
      {
        "contentUdi": "umb://element/41716bd175cc41bc936f46cbb3c01822",
        "settingsUdi": "umb://element/936385a0ce1649dc90c9993b87e13e2a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ca048e25-5b7d-4576-87e7-18e0bf0c1717",
      "nodeSelection": "umb://document/75c492f4f00f4d20b28dd9412e8253eb",
      "revertCols": "1",
      "sectionBodyText": {
        "markup": "<div class=\"OutlineElement Ltr SCXW85550494 BCX8\">\n<p class=\"Paragraph SCXW85550494 BCX8\">Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco. Non consectetur irure sunt non dolor in cupidatat eiusmod veniam nostrud officia ad pariatur. Deserunt dolor cillum exercitation qui aliqua duis. Consequat nisi mollit consectetur Lorem velit voluptate irure enim dolor duis laborum veniam culpa exercitation. Culpa excepteur cupidatat laborum dolore velit sint sunt do ex velit.</p>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "sectionImages": [
        {
          "key": "5356ce25-4fbb-4e7c-bb21-eafddf9720ff",
          "mediaKey": "4a9d66d7-e6d5-416e-b72f-23e9edddc8a2"
        }
      ],
      "sectionSubtitle": "Officia anim cillum proident ad ullamco.",
      "sectionTitle": "Officia anim cillum proident ad ullamco.",
      "udi": "umb://element/8e2e5e1794ad44c987d2f43cab27d840"
    },
    {
      "contentTypeKey": "e5a6093a-74e2-483a-afe9-7a86b713c1a7",
      "sectionBodyText": {
        "markup": "<ol>\n<li>Officia anim cillum proident ad ullamco.</li>\n<li>Officia anim cillum proident ad ullamco.</li>\n<li>Officia anim cillum proident ad ullamco.</li>\n</ol>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "sectionSubtitle": "Eyewide Digital Marketing Agency",
      "sectionTitle": "Why choose",
      "udi": "umb://element/5477be0202e04e67b38f33fb184a2d8d"
    },
    {
      "contentTypeKey": "ca048e25-5b7d-4576-87e7-18e0bf0c1717",
      "nodeSelection": "umb://document/f9aed881afeb437888d01fa89f152bab",
      "revertCols": "1",
      "sectionBodyText": {
        "markup": "<p class=\"Paragraph SCXW207013770 BCX8\">Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "sectionImages": [
        {
          "key": "2d505f41-c96b-452e-a84d-4652bfb9e0ab",
          "mediaKey": "38da0570-1a4c-459a-942f-07cebe0f976e"
        },
        {
          "key": "6c187e00-16b5-4633-994b-66104f35b864",
          "mediaKey": "da6e6309-2be7-403c-8cbc-64e0d9673a89"
        },
        {
          "key": "c7ae70ee-f685-4e4d-ba7a-6baceaf28ead",
          "mediaKey": "9a0bb811-9adc-478a-a330-9efd8a4e1895"
        },
        {
          "key": "942a8bc2-13cd-451a-a02c-6e9cbdbfca58",
          "mediaKey": "84680f3e-3c26-402e-beb3-645b5ad7bc21"
        }
      ],
      "sectionSubtitle": "Officia anim cillum proident ad ullamco.",
      "sectionTitle": "Dine at our Restaurant & Bars",
      "udi": "umb://element/21feebc86ef343b38c10c902fc1f43aa"
    },
    {
      "contentTypeKey": "f96d7b5c-bb60-4eab-b397-b7cdf9e8be14",
      "nodeSelection": "umb://document/a2f45abb4a33451fbfc2c1904bfb5b5d",
      "sectionBodyText": {
        "markup": "<p>Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "sectionSubtitle": "Officia anim cillum proident ad ullamco.",
      "sectionTitle": "Discover Lorem",
      "udi": "umb://element/41716bd175cc41bc936f46cbb3c01822"
    },
    {
      "contentTypeKey": "3ad1e155-3fb0-4b5d-9405-9dfb92c6cdd5",
      "nodeSelection": "umb://document/49686b097db1499b9c47a4f31571e2c2",
      "sectionBodyText": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales a felis in placerat.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "sectionSubtitle": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      "sectionTitle": "Benefit from our offers",
      "udi": "umb://element/84b7ce581cd041a99c2d0bdcb211b02f"
    },
    {
      "contentTypeKey": "e5a6093a-74e2-483a-afe9-7a86b713c1a7",
      "sectionBodyText": {
        "markup": "<ol>\n<li>100% Secure Payments</li>\n<li>Exclusive Deals</li>\n<li>Last Minute Offers</li>\n<li>Privacy policy</li>\n</ol>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "sectionSubtitle": "Lorem ipsum dolor sit amet",
      "sectionTitle": "Reasons to book through our website",
      "udi": "umb://element/c3cc0eb89bb2415b8caff6c70a9bf516"
    },
    {
      "contentTypeKey": "91a3b124-ef99-4548-bc93-a20760ab20d9",
      "nodeSelection": "umb://document/65dc0a14fab74d6b8df4823655585d20",
      "sectionBodyText": {
        "markup": "<p>Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco. Non consectetur irure sunt non dolor in cupidatat eiusmod veniam nostrud officia ad pariatur.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "sectionSubtitle": "Rooms & Suites",
      "sectionTitle": "Stay",
      "udi": "umb://element/1e839578f0444eeb9d15279757f7dcdb"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/a619b5a67fbb468983a2d8dd58e61ef6"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/c25fc00ffedd462b9e415be3476b9b56"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/5d91fface6484b3fa9732020426a38cc"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/936385a0ce1649dc90c9993b87e13e2a"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/64f6ca1be7374bbab6b0f37ba9698946"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/dcc8d3ce49944d1aac0ed1f416ce99e6"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/2ac3943bce4048e7881861b3a06c1dd9"
    }
  ]
}]]></Value>
    </bodySections>
    <bookingLink>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "udi": "umb://document/58fb50781f944a3d92fea10b8daf15a3"
  }
]]]></Value>
    </bookingLink>
    <bookingOnlineLink>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "target": "_blank",
    "url": "mailto:info@eyewide.gr"
  }
]]]></Value>
    </bookingOnlineLink>
    <contactDetails>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p><a href=\"https://maps.app.goo.gl/KEnZFn7y4ypvgKDC7\" title=\"Επισκεφτείτε την Eyewide Digital Marketing Agency\" aria-label=\"Επισκεφτείτε την Eyewide Digital Marketing Agency\">Κωνσταντινουπόλεως 12, 71304, Ηράκλειο, Κρήτης</a></p>\n<p>Τηλ:<a href=\"tel:2810250180\" title=\"Καλέστε την Eyewide Digital Marketing Agency\" aria-label=\"Καλέστε την Eyewide Digital Marketing Agency\">&nbsp;2810250180</a>,<a href=\"tel:2111983168\" title=\"Καλέστε την Eyewide Digital Marketing Agency\" aria-label=\"Καλέστε την Eyewide Digital Marketing Agency\">&nbsp;2111983168</a></p>\n<p>Email:&nbsp;<a href=\"mailto:info@eyewide.gr\" title=\"Στείλτε email στην Eyewide Digital Marketing Agency\" aria-label=\"Στείλτε email στην Eyewide Digital Marketing Agency\">info@eyewide.gr</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </contactDetails>
    <enableEspaWidget>
      <Value><![CDATA[0]]></Value>
    </enableEspaWidget>
    <enablePopup>
      <Value><![CDATA[0]]></Value>
    </enablePopup>
    <espaWidgets>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[<div style="position:fixed; bottom:0px;left:0px;z-index:1000;">
			<a href="/media/unbaggq0/tourismcvel.pdf" target="_blank" rel="noopener noreferrer" aria-label="Espa Program pdf"><img src="/media/oidj0z2z/banner-espa.jpg?width=280" alt="ΕΣΠΑ" class="img-fluid" style="width:100%;"></a>
</div>]]></Value>
    </espaWidgets>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[1]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[0]]></Value>
    </hideSlider>
    <imagesSlider>
      <Value><![CDATA[[
  {
    "key": "1fd7f202-32ce-4b6b-a7f7-f60b93bd33f4",
    "mediaKey": "15f59dc5-a502-4c65-afd3-048c82997f5f"
  },
  {
    "key": "7896410a-ae51-48a0-ac33-087644741c7d",
    "mediaKey": "4a9d66d7-e6d5-416e-b72f-23e9edddc8a2"
  },
  {
    "key": "8c6129db-08c4-482e-bc4b-9a7807551fd9",
    "mediaKey": "4618e8d2-0931-412d-a96a-72bb4d9571f4"
  },
  {
    "key": "7535c199-1b8b-4cf6-985a-9d8c72db3240",
    "mediaKey": "89161d78-a3cf-4711-a7ec-702019c45a27"
  }
]]]></Value>
    </imagesSlider>
    <instagramImages>
      <Value><![CDATA[[
  {
    "key": "3e9d62e3-09e2-4cf0-bcf5-73e41282ae31",
    "mediaKey": "76f103af-d5d3-4561-929e-585618dbcf2d"
  },
  {
    "key": "d882a814-ae7c-44aa-a7af-22f7ca6e7dcf",
    "mediaKey": "4a9d66d7-e6d5-416e-b72f-23e9edddc8a2"
  },
  {
    "key": "1339677b-10db-4def-90e1-11d20229bfd1",
    "mediaKey": "15f59dc5-a502-4c65-afd3-048c82997f5f"
  },
  {
    "key": "910de81c-f21c-4dee-af36-60587e6a77d2",
    "mediaKey": "fa9d607f-06af-4159-b339-de46a909954a"
  }
]]]></Value>
    </instagramImages>
    <instagramLink>
      <Value><![CDATA[[
  {
    "name": "",
    "target": "_blank",
    "url": "https://www.instagram.com/eyewidedigitalmarketing/"
  }
]]]></Value>
    </instagramLink>
    <mapImage>
      <Value><![CDATA[[
  {
    "key": "1abc00a4-b9b5-451e-bc3a-0280aaa3363a",
    "mediaKey": "de958396-46f7-4cc6-a606-af7fb84a3e54"
  }
]]]></Value>
    </mapImage>
    <mapLink>
      <Value><![CDATA[[
  {
    "name": "",
    "target": "_blank",
    "url": "https://maps.app.goo.gl/KEnZFn7y4ypvgKDC7"
  }
]]]></Value>
    </mapLink>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "5376d723-68ee-4eaf-9d20-3d3d4c96e5b7",
    "mediaKey": "045f835d-4c9e-4164-a4ea-54d678c99508"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[Η EyeWide Digital Marketing Agency ιδρύθηκε το 2008 στο Ηράκλειο Κρήτης και προσφέρει digital marketing υπηρεσίες (web design & development, Κατασκευή ιστοσελίδων για ξενοδοχεία, performance marketing, social media marketing, SEO)]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[EyeWide Digital Marketing Agency]]></Value>
    </metaTitle>
    <popupBookingLink>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </popupBookingLink>
    <popupImage>
      <Value><![CDATA[[
  {
    "key": "89524a8c-3462-456f-9dde-68d8721f430d",
    "mediaKey": "89161d78-a3cf-4711-a7ec-702019c45a27"
  }
]]]></Value>
    </popupImage>
    <popupMorePageLink>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </popupMorePageLink>
    <popupText>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales a felis in placerat.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </popupText>
    <popupTitle>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[Lorem ipsum dolor sit amet]]></Value>
    </popupTitle>
    <reviews>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d466effc2e784da1a4d1c036838d0bde",
        "settingsUdi": "umb://element/f94b8474cf554feb8fdf9ea0f380bbdc"
      },
      {
        "contentUdi": "umb://element/4978b1918046446fb060d2ddd0fca976",
        "settingsUdi": "umb://element/4ca4efd78a5b42afb6b5e40c281e316b"
      },
      {
        "contentUdi": "umb://element/085a2cf5a70c44548f29273fd9644317",
        "settingsUdi": "umb://element/5911693d929145b593f615f495110fef"
      },
      {
        "contentUdi": "umb://element/480f6345f9334756a22d94f6d55568a6",
        "settingsUdi": "umb://element/a740a91eab08436cbf61d4db2ad4c2eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9a18cd02-3543-4e07-97c2-e0c6bdc03d92",
      "reviewName": "Lorem ipsum",
      "reviewText": {
        "markup": "<p>Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco. Non consectetur irure sunt non dolor in cupidatat eiusmod veniam nostrud officia ad pariatur. Deserunt dolor cillum exercitation qui aliqua duis. Consequat nisi mollit consectetur Lorem velit voluptate irure enim dolor duis laborum veniam culpa exercitation. Culpa excepteur cupidatat laborum dolore velit sint sunt do ex velit.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "reviewTitle": "Officia anim cillum proident ad ullamco.",
      "udi": "umb://element/d466effc2e784da1a4d1c036838d0bde"
    },
    {
      "contentTypeKey": "9a18cd02-3543-4e07-97c2-e0c6bdc03d92",
      "reviewName": "Lorem ipsum",
      "reviewText": {
        "markup": "<p>Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco. Non consectetur irure sunt non dolor in cupidatat eiusmod veniam nostrud officia ad pariatur. Deserunt dolor cillum exercitation qui aliqua duis. Consequat nisi mollit consectetur Lorem velit voluptate irure enim dolor duis laborum veniam culpa exercitation. Culpa excepteur cupidatat laborum dolore velit sint sunt do ex velit.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "reviewTitle": "Officia anim cillum proident ad ullamco.",
      "udi": "umb://element/4978b1918046446fb060d2ddd0fca976"
    },
    {
      "contentTypeKey": "9a18cd02-3543-4e07-97c2-e0c6bdc03d92",
      "reviewName": "Lorem ipsum",
      "reviewText": {
        "markup": "<p>Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco. Non consectetur irure sunt non dolor in cupidatat eiusmod veniam nostrud officia ad pariatur. Deserunt dolor cillum exercitation qui aliqua duis. Consequat nisi mollit consectetur Lorem velit voluptate irure enim dolor duis laborum veniam culpa exercitation. Culpa excepteur cupidatat laborum dolore velit sint sunt do ex velit.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "reviewTitle": "Officia anim cillum proident ad ullamco.",
      "udi": "umb://element/085a2cf5a70c44548f29273fd9644317"
    },
    {
      "contentTypeKey": "9a18cd02-3543-4e07-97c2-e0c6bdc03d92",
      "reviewName": "Lorem ipsum",
      "reviewText": {
        "markup": "<p>Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco. Non consectetur irure sunt non dolor in cupidatat eiusmod veniam nostrud officia ad pariatur. Deserunt dolor cillum exercitation qui aliqua duis. Consequat nisi mollit consectetur Lorem velit voluptate irure enim dolor duis laborum veniam culpa exercitation. Culpa excepteur cupidatat laborum dolore velit sint sunt do ex velit.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "reviewTitle": "Officia anim cillum proident ad ullamco.",
      "udi": "umb://element/480f6345f9334756a22d94f6d55568a6"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/f94b8474cf554feb8fdf9ea0f380bbdc"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/4ca4efd78a5b42afb6b5e40c281e316b"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/5911693d929145b593f615f495110fef"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/a740a91eab08436cbf61d4db2ad4c2eb"
    }
  ]
}]]></Value>
    </reviews>
    <schemaJson>
      <Value><![CDATA[]]></Value>
    </schemaJson>
    <scriptsInEndOfBody>
      <Value><![CDATA[]]></Value>
    </scriptsInEndOfBody>
    <scriptsInHeader>
      <Value><![CDATA[]]></Value>
    </scriptsInHeader>
    <scriptsInStartOfBody>
      <Value><![CDATA[]]></Value>
    </scriptsInStartOfBody>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <socialMedia>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/55cc8c717fab4b3d86bf39103fe1d260",
        "settingsUdi": "umb://element/76f2c8c9af1544bbabd821789c28d218"
      },
      {
        "contentUdi": "umb://element/3ea3b478a45f4bb998bb215a0b5a67c8",
        "settingsUdi": "umb://element/b7a43b401c914339ad3703a155245df8"
      },
      {
        "contentUdi": "umb://element/afe77525bc0d49e3ba11542f7051fdf2",
        "settingsUdi": "umb://element/80da23e4f4b34ddbb69f04a9a684b30a"
      },
      {
        "contentUdi": "umb://element/92c397b1634b4091a1736b86d7f7bbb6",
        "settingsUdi": "umb://element/ec10370bb38f405abe2558a4ed585b5c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "87df031f-2f0f-43c6-8e2a-f8620cafd894",
      "socialMediaIcon": [
        {
          "key": "461b275c-273c-42e5-969a-493873bd69c4",
          "mediaKey": "9cb4406c-d068-4802-bd82-d71954938258"
        }
      ],
      "socialMediaLink": [
        {
          "name": "Eyewide Facebook",
          "target": "_blank",
          "url": "https://www.facebook.com/EyewideDigitalMarketingAgency"
        }
      ],
      "socialMediaTitle": "Eyewide Facebook",
      "udi": "umb://element/55cc8c717fab4b3d86bf39103fe1d260"
    },
    {
      "contentTypeKey": "87df031f-2f0f-43c6-8e2a-f8620cafd894",
      "socialMediaIcon": [
        {
          "key": "e40d1a04-ca9d-45b6-be25-e9e894d51c25",
          "mediaKey": "ec8a3f23-e67a-449f-a111-84c1906883bf"
        }
      ],
      "socialMediaLink": [
        {
          "name": "Eyewide Instagram",
          "target": "_blank",
          "url": "https://www.instagram.com/eyewidedigitalmarketing/"
        }
      ],
      "socialMediaTitle": "Eyewide Instagram",
      "udi": "umb://element/3ea3b478a45f4bb998bb215a0b5a67c8"
    },
    {
      "contentTypeKey": "87df031f-2f0f-43c6-8e2a-f8620cafd894",
      "socialMediaIcon": [
        {
          "key": "5e8a0049-f8cb-4392-ac1f-0aacd9f9f836",
          "mediaKey": "56b3b655-3095-4cb4-a08c-ca4a36b1ae6b"
        }
      ],
      "socialMediaLink": [
        {
          "name": "Eyewide Youtube",
          "target": "_blank",
          "url": "https://www.youtube.com/@eyewidedigitalmarketing"
        }
      ],
      "socialMediaTitle": "Eyewide Youtube",
      "udi": "umb://element/92c397b1634b4091a1736b86d7f7bbb6"
    },
    {
      "contentTypeKey": "87df031f-2f0f-43c6-8e2a-f8620cafd894",
      "socialMediaIcon": [
        {
          "key": "6ea9e9cf-43dd-4134-b292-111d7ac561d9",
          "mediaKey": "446ee67d-2f41-4849-96dc-98bdf0e21a26"
        }
      ],
      "socialMediaLink": [
        {
          "name": "Eyewide Linkedin",
          "target": "_blank",
          "url": "https://www.linkedin.com/company/eyewide---internet-marketing-services-crete-greece"
        }
      ],
      "socialMediaTitle": "Eyewide Linkedin",
      "udi": "umb://element/afe77525bc0d49e3ba11542f7051fdf2"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/76f2c8c9af1544bbabd821789c28d218"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/b7a43b401c914339ad3703a155245df8"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/ec10370bb38f405abe2558a4ed585b5c"
    },
    {
      "contentTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "disableSection": "0",
      "udi": "umb://element/80da23e4f4b34ddbb69f04a9a684b30a"
    }
  ]
}]]></Value>
    </socialMedia>
    <textOnSlider>
      <Value Culture="el-gr"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <websiteFavicon>
      <Value><![CDATA[[
  {
    "key": "9445ef8e-fff4-4a70-9ede-d30ee4a44385",
    "mediaKey": "aa4f0a16-ed98-4916-b342-2aaef5f5b96e"
  }
]]]></Value>
    </websiteFavicon>
    <websiteLogo>
      <Value><![CDATA[[
  {
    "key": "7b844d0d-3967-4f95-8557-f175b543c0b1",
    "mediaKey": "824bcdf7-369f-4a3a-95ba-eba38b80b471"
  }
]]]></Value>
    </websiteLogo>
    <websiteName>
      <Value><![CDATA[Eyewide Digital Marketing Agency]]></Value>
    </websiteName>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>