<?xml version="1.0" encoding="utf-8"?>
<Content Key="75c492f4-f00f-4d20-b28d-d9412e8253eb" Alias="hotel" Level="2">
  <Info>
    <Parent Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d">Home</Parent>
    <Path>/Home/hotel</Path>
    <Trashed>false</Trashed>
    <ContentType>hotelListPage</ContentType>
    <CreateDate>2025-11-14T12:01:27</CreateDate>
    <NodeName Default="hotel">
      <Name Culture="en-us">hotel</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d8ef153f-4fb5-494f-af9d-a85b90ea80eb">HotelListPage</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "0f0921b4-6919-4c9b-8d45-d9729f38ee43",
    "mediaKey": "c43f3ff3-8cb4-47e1-94b7-e2a6e3cde225"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[HOTEL]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco. Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[HOTEL]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>