<?xml version="1.0" encoding="utf-8"?>
<Content Key="770ab947-84d4-48b8-bc40-055ecdb80308" Alias="How to reach" Level="3">
  <Info>
    <Parent Key="75c492f4-f00f-4d20-b28d-d9412e8253eb">hotel</Parent>
    <Path>/Home/hotel/HowToReach</Path>
    <Trashed>false</Trashed>
    <ContentType>hotelInnerPage</ContentType>
    <CreateDate>2025-11-14T12:06:42</CreateDate>
    <NodeName Default="How to reach">
      <Name Culture="en-us">How to reach</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="958dc880-6392-426d-8d5d-c48e2f394814">HotelInnerPage</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[0]]></Value>
    </hideSlider>
    <imageForListing>
      <Value><![CDATA[[
  {
    "key": "39abe791-2044-4f1f-87a6-93c9f824dbd8",
    "mediaKey": "d39efb02-064b-4055-9958-ee53eb292de3"
  }
]]]></Value>
    </imageForListing>
    <imagesSlider>
      <Value><![CDATA[[
  {
    "key": "36d3d3ef-ee93-4476-abe3-24339f5dbbc2",
    "mediaKey": "d39efb02-064b-4055-9958-ee53eb292de3"
  },
  {
    "key": "b596a1da-d29c-4827-a5eb-6a758a537d95",
    "mediaKey": "8ec5b303-9afe-4ddb-a38c-88a6e964db59"
  }
]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "71c589d1-c092-497a-930b-a808c1bc531f",
    "mediaKey": "d39efb02-064b-4055-9958-ee53eb292de3"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[How to reach]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales a felis in placerat. Mauris turpis sapien, lobortis vel nibh ut, blandit elementum dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed auctor neque, ut gravida nisl.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[How to reach]]></Value>
    </sectionTitle>
    <shortDescription>
      <Value Culture="en-us"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit.]]></Value>
    </shortDescription>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>