<?xml version="1.0" encoding="utf-8"?>
<Content Key="627c539b-6b91-4372-8137-63f2db94a270" Alias="offer-3" Level="3">
  <Info>
    <Parent Key="49686b09-7db1-499b-9c47-a4f31571e2c2">special-offers</Parent>
    <Path>/Home/specialOffers/offer3</Path>
    <Trashed>false</Trashed>
    <ContentType>offerPage</ContentType>
    <CreateDate>2025-11-19T11:35:11</CreateDate>
    <NodeName Default="offer-3">
      <Name Culture="en-us">offer-3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="2d57f09a-c4c3-47ad-a884-82e3f16923b0">OfferPage</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imageForListing>
      <Value><![CDATA[[
  {
    "key": "e999a50d-e35a-4cdf-9bd8-cd24ec268f08",
    "mediaKey": "d39efb02-064b-4055-9958-ee53eb292de3"
  }
]]]></Value>
    </imageForListing>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "69bfe00c-908c-4a66-a081-63acda99c514",
    "mediaKey": "d39efb02-064b-4055-9958-ee53eb292de3"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[Offer name 3]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <offerBodyText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum ultrices elit et fringilla. Donec aliquam mauris sit amet ultrices blandit. Pellentesque porttitor tincidunt leo, in maximus mi volutpat semper. Ut vitae eleifend sem. Nunc tempor leo vitae tempus iaculis. Integer pellentesque blandit quam, id sollicitudin erat pulvinar sit amet. Proin tempus dolor vehicula risus maximus commodo sed at nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer est sapien, posuere nec est quis, aliquam elementum risus. Donec sapien velit, vehicula ut purus malesuada, commodo faucibus urna. Nunc ut dui ut odio maximus pellentesque. Nulla facilisi. Nam in neque quis quam finibus pretium eu ut ex. Maecenas eu consequat neque, eu sagittis dolor. In suscipit interdum est et dictum.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </offerBodyText>
    <offerBookingLink>
      <Value><![CDATA[[
  {
    "target": "_blank",
    "url": "#"
  }
]]]></Value>
    </offerBookingLink>
    <offerTitle>
      <Value Culture="en-us"><![CDATA[Offer name 3]]></Value>
    </offerTitle>
    <shortDescription>
      <Value Culture="en-us"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum ultrices elit et fringilla. Donec aliquam mauris sit amet ultrices blandit.]]></Value>
    </shortDescription>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>