<?xml version="1.0" encoding="utf-8"?>
<Content Key="71368e55-fb27-4f25-bda6-fae6c323f079" Alias="Page not found" Level="2">
  <Info>
    <Parent Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d">Home</Parent>
    <Path>/Home/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>textpage</ContentType>
    <CreateDate>2025-11-06T09:59:25</CreateDate>
    <NodeName Default="Page not found">
      <Name Culture="en-us">Page not found</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="253dcb9e-6e6b-4f3e-b507-7e9975770f89">page404</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[1]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[1]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[Page 404]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[Sorry! Page not found]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>