<?xml version="1.0" encoding="utf-8"?>
<Content Key="2542f43d-5200-4067-9bbe-4f3c0694819a" Alias="Restaurants &amp; Bars" Level="3">
  <Info>
    <Parent Key="967fe57e-a458-4d7e-b218-59440cb90fdf">photo gallery</Parent>
    <Path>/Home/photoGallery/RestaurantsBars</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2025-11-06T11:00:57</CreateDate>
    <NodeName Default="Restaurants &amp; Bars">
      <Name Culture="en-us">Restaurants &amp; Bars</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e0c86fe8-618a-4b60-8f3c-4fb1c8d67e64">GalleryPage</Template>
  </Info>
  <Properties>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <galleryImages>
      <Value><![CDATA[[
  {
    "key": "82ea7b40-7d59-48df-a8a2-736b7a010af3",
    "mediaKey": "38da0570-1a4c-459a-942f-07cebe0f976e"
  },
  {
    "key": "fba2c085-5a7e-49f6-b746-63dd68a85b2a",
    "mediaKey": "da6e6309-2be7-403c-8cbc-64e0d9673a89"
  },
  {
    "key": "a74a15cd-cb05-4e0f-a23a-17e174c3bc99",
    "mediaKey": "05979b05-e840-4a1c-a42c-75c15c59311b"
  },
  {
    "key": "b08da342-020f-4184-b5d0-17d1aefe8c00",
    "mediaKey": "c0acd94e-8294-4e22-b11c-01fedfdbb118"
  },
  {
    "key": "b729d8e1-1820-4133-9a63-56f0297dc32a",
    "mediaKey": "9a0bb811-9adc-478a-a330-9efd8a4e1895"
  },
  {
    "key": "ca750f08-6710-46f4-abd8-f7665a47f674",
    "mediaKey": "84680f3e-3c26-402e-beb3-645b5ad7bc21"
  },
  {
    "key": "b480d825-227e-4579-96a7-46c7fb1a9062",
    "mediaKey": "c0546fa6-9914-4257-ba98-3964ff2e16ea"
  },
  {
    "key": "eabb7295-62d9-4d0c-ae1d-8fb369e72b97",
    "mediaKey": "eef3170f-7468-4461-bcfd-cc9cdceb3d83"
  }
]]]></Value>
    </galleryImages>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imageForListing>
      <Value><![CDATA[[
  {
    "key": "1c51cf4d-71c0-48df-8d80-2dd86c50cd76",
    "mediaKey": "9a0bb811-9adc-478a-a330-9efd8a4e1895"
  }
]]]></Value>
    </imageForListing>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "d86c79a6-dd87-487a-a019-dec72d4cf6a8",
    "mediaKey": "05979b05-e840-4a1c-a42c-75c15c59311b"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[Restaurants & Bars]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[Restaurants & Bars]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>