<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e0cd3e3-eb23-4049-90f2-466cab07d18c" Alias="Rooms" Level="3">
  <Info>
    <Parent Key="967fe57e-a458-4d7e-b218-59440cb90fdf">photo gallery</Parent>
    <Path>/Home/photoGallery/Rooms</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2025-11-12T12:30:19</CreateDate>
    <NodeName Default="Rooms">
      <Name Culture="en-us">Rooms</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="e0c86fe8-618a-4b60-8f3c-4fb1c8d67e64">GalleryPage</Template>
  </Info>
  <Properties>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <galleryImages>
      <Value><![CDATA[[
  {
    "key": "734a86ea-6bb4-43b2-9330-b1d9f503e6ff",
    "mediaKey": "1bbc65ce-674e-4408-a7fa-5a891d623307"
  },
  {
    "key": "64d5e660-d8d9-4de1-8ccf-d086c20b89a4",
    "mediaKey": "045f835d-4c9e-4164-a4ea-54d678c99508"
  },
  {
    "key": "1e5af351-978b-4cf2-bd0b-70dbe416a43b",
    "mediaKey": "76f103af-d5d3-4561-929e-585618dbcf2d"
  },
  {
    "key": "c279f48c-6e20-413b-910e-1c9d0e8b1cb4",
    "mediaKey": "0d667dc5-a034-405b-bdd7-e5c765bcd1d3"
  },
  {
    "key": "c34957ec-6361-4723-8877-7154113cb0f5",
    "mediaKey": "0dd78f4b-db18-444e-9ad6-4a82cbd5931b"
  },
  {
    "key": "99b0ed93-2017-4c9f-8a9e-69593adfc7ce",
    "mediaKey": "cc317b8a-ebde-465f-a6a5-cdeef717f487"
  },
  {
    "key": "6ddde406-844c-4164-80be-c0142eb6726d",
    "mediaKey": "dc5dfb4e-bd99-4052-b347-c84fc8a37947"
  },
  {
    "key": "acc53347-1e6c-44ab-8130-8b70188d0d00",
    "mediaKey": "76b528b8-2e4d-49b9-acd8-d40e3dc69d30"
  }
]]]></Value>
    </galleryImages>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imageForListing>
      <Value><![CDATA[[
  {
    "key": "cd3f604c-eff1-40b3-b779-5b224321f96a",
    "mediaKey": "1bbc65ce-674e-4408-a7fa-5a891d623307"
  }
]]]></Value>
    </imageForListing>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "f8e19091-f921-46a5-a207-804cf62c1185",
    "mediaKey": "1bbc65ce-674e-4408-a7fa-5a891d623307"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[Rooms]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[Rooms]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>