<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c53761a-dd85-4073-9a37-d7b3b64926f1" Alias="Sitemap" Level="2">
  <Info>
    <Parent Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d">Home</Parent>
    <Path>/Home/Sitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>xmlSiteMap</ContentType>
    <CreateDate>2025-11-06T09:54:34</CreateDate>
    <NodeName Default="Sitemap">
      <Name Culture="en-us">Sitemap</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="5a72dffd-5924-4a33-97af-e90711a1428e">XmlSiteMap</Template>
  </Info>
  <Properties>
    <blacklistedDocument>
      <Value><![CDATA[xmlsitemap]]></Value>
    </blacklistedDocument>
    <hideInMainMenu>
      <Value><![CDATA[1]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[1]]></Value>
    </hideInNavigation>
    <menuImage>
      <Value><![CDATA[]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </menuTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
  </Properties>
</Content>