<?xml version="1.0" encoding="utf-8"?>
<Content Key="49686b09-7db1-499b-9c47-a4f31571e2c2" Alias="special-offers" Level="2">
  <Info>
    <Parent Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d">Home</Parent>
    <Path>/Home/specialOffers</Path>
    <Trashed>false</Trashed>
    <ContentType>offersPage</ContentType>
    <CreateDate>2025-11-06T14:03:37</CreateDate>
    <NodeName Default="special-offers">
      <Name Culture="en-us">special-offers</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3cd354cc-b12a-4d58-b717-ead8b48ed35f">OffersPage</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "ab52b626-4696-44c5-9323-706e806551b9",
    "mediaKey": "15f59dc5-a502-4c65-afd3-048c82997f5f"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[OFFERS]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[OFFERS]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>