<?xml version="1.0" encoding="utf-8"?>
<Content Key="65dc0a14-fab7-4d6b-8df4-823655585d20" Alias="stay" Level="2">
  <Info>
    <Parent Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d">Home</Parent>
    <Path>/Home/stay</Path>
    <Trashed>false</Trashed>
    <ContentType>accommodationPage</ContentType>
    <CreateDate>2025-11-14T09:41:13</CreateDate>
    <NodeName Default="stay">
      <Name Culture="en-us">stay</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="02f0c45c-1a4a-4415-8dd1-0c245cdb2bb8">AccommodationPage</Template>
  </Info>
  <Properties>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[1]]></Value>
    </hideSlider>
    <imagesSlider>
      <Value><![CDATA[[]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "dc9be75d-1ce9-431d-b17a-1df473ec2566",
    "mediaKey": "76b528b8-2e4d-49b9-acd8-d40e3dc69d30"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[STAY]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Officia anim cillum proident ad ullamco. Labore ut officia laboris pariatur ipsum voluptate qui elit cillum. Consectetur mollit aliqua sint ullamco. Non consectetur irure sunt non dolor in cupidatat eiusmod veniam nostrud officia ad pariatur.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[STAY]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>