<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9aed881-afeb-4378-88d0-1fa89f152bab" Alias="taste" Level="2">
  <Info>
    <Parent Key="9d23cc82-e253-4e8f-9f47-e95a0e07d15d">Home</Parent>
    <Path>/Home/taste</Path>
    <Trashed>false</Trashed>
    <ContentType>gastronomyListPage</ContentType>
    <CreateDate>2025-11-13T13:19:16</CreateDate>
    <NodeName Default="taste">
      <Name Culture="en-us">taste</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8c413788-a28d-47f8-ae05-32e1839fbf28">GastronomyListPage</Template>
  </Info>
  <Properties>
    <bodySections>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodySections>
    <fallbackVideoUrl>
      <Value><![CDATA[]]></Value>
    </fallbackVideoUrl>
    <hideInMainMenu>
      <Value><![CDATA[0]]></Value>
    </hideInMainMenu>
    <hideInNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInNavigation>
    <hideSlider>
      <Value><![CDATA[0]]></Value>
    </hideSlider>
    <imagesSlider>
      <Value><![CDATA[[
  {
    "key": "e43752b6-7ac3-48d4-a421-7acbfe5d9265",
    "mediaKey": "38da0570-1a4c-459a-942f-07cebe0f976e"
  },
  {
    "key": "35ed90e1-d4c1-47ae-b839-263a14e25f59",
    "mediaKey": "9a0bb811-9adc-478a-a330-9efd8a4e1895"
  }
]]]></Value>
    </imagesSlider>
    <menuImage>
      <Value><![CDATA[[
  {
    "key": "5f2c8aaa-017c-47bd-9e61-f5b9823ce275",
    "mediaKey": "eef3170f-7468-4461-bcfd-cc9cdceb3d83"
  }
]]]></Value>
    </menuImage>
    <menuTitle>
      <Value Culture="en-us"><![CDATA[TASTE]]></Value>
    </menuTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <sectionBodyText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sectionBodyText>
    <sectionTitle>
      <Value Culture="en-us"><![CDATA[Restaurant & Bars]]></Value>
    </sectionTitle>
    <showInFooterMenu>
      <Value><![CDATA[0]]></Value>
    </showInFooterMenu>
    <textOnSlider>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </textOnSlider>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
    <youTubeVideoUrl>
      <Value><![CDATA[]]></Value>
    </youTubeVideoUrl>
  </Properties>
</Content>