@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks


@{
    var home = Model?.AncestorOrSelf(1);
    var socialMedias = home?.Value<IEnumerable<BlockListItem>>("socialMedia") ?? Enumerable.Empty<BlockListItem>();
    var HeaderNewsletter = Umbraco.GetDictionaryValue("HeaderNewsletter")?.ToString() ?? string.Empty;
    var HeaderContact = Umbraco.GetDictionaryValue("HeaderContact")?.ToString() ?? string.Empty;
    var FooterCopyright = Umbraco.GetDictionaryValue("FooterCopyright")?.ToString() ?? string.Empty;
    var contactDetails = home?.Value<string>("contactDetails") ?? string.Empty;
}

<footer class="pt-offset">
    <div class="pb-2">
        <div class="col-11 col-xl-10 m-auto">
            <div class="row justify-content-center">

                <div class="col-md-3 order-md-3 col-space-mob">
                    @await Html.PartialAsync("MyBlocks/Awards")
                </div>

                @* ===== NEWSLETTER ======= *@ 
                @if (!(Model?.IsDocumentType("form") ?? false))
                {
                    <div class="col-md-3 col-space-mob">
                        <div class="newsletter">
                            @if (!string.IsNullOrWhiteSpace(HeaderNewsletter))
                            {   
                                <div class="h3-sm-header">
                                    @Html.Raw(HeaderNewsletter)
                                </div>
                            }
                            @await Html.PartialAsync("formNewsletter")
                        </div>
                    </div>
                }
                @* ===== NEWSLETTER ======= *@

                <div class="col-md-6 col-space-mob">
                    <div class="d-md-flex">
                        <div class="col-md-4 offset-md-1 col-space-mob">
                            @await Html.PartialAsync("NavigationElements/FooterNavigation")
                        </div>
                        <div class="col-md-7">
                            @if (!string.IsNullOrWhiteSpace(HeaderNewsletter))
                            {  
                                <div class="h3-sm-header">
                                    @Html.Raw(HeaderNewsletter)
                                </div>
                            }

                             @if (!string.IsNullOrEmpty(contactDetails)){    
                            @Html.Raw(contactDetails)}

                            @if (socialMedias.Any())
                            {
                                <ul class="list-unstyled social d-flex flex-wrap">
                                    @foreach (var socialMedia in socialMedias)
                                    {
                                        var content = socialMedia.Content;
                                        @await Html.PartialAsync("/Views/Partials/blocklist/Components/" + content.ContentType.Alias + ".cshtml", socialMedia)
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @if (!string.IsNullOrWhiteSpace(FooterCopyright))
        { 
            <div class="copyright text-center mt-5 pt-5 px-3 px-md-4 px-xl-5">
                @Html.Raw(FooterCopyright)
            </div>
        }

    </div>
</footer>
