<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a3fc8e9-72e6-479a-89ce-a9a33a76c0e5" Alias="espaBanners" Level="2">
  <Info>
    <Name>Espa Banners</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6eb180ca-6dbb-481d-a170-e975b6703c7e</Key>
      <Name>Enable Espa Widget</Name>
      <Alias>enableEspaWidget</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Click here to enable espa widget.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="espaBanners">Espa Banners</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42e5b245-b3ef-445f-acf4-6ef474b62fd2</Key>
      <Name>Espa Widgets</Name>
      <Alias>espaWidgets</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter here the code if you have espa banner in your website.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="espaBanners">Espa Banners</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1503705a-a0bb-4851-b9e0-c090703fae2e</Key>
      <Caption>Espa Banners</Caption>
      <Alias>espaBanners</Alias>
      <Type>Tab</Type>
      <SortOrder>180</SortOrder>
    </Tab>
  </Tabs>
</ContentType>