<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c9b15be0-8e23-417c-afed-c7966c6d6b91" Alias="formPage" Level="2">
  <Info>
    <Name>FormPage</Name>
    <Icon>icon-phone-ring color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the form page of this website</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b8917bbd-154d-4356-9a39-dc3252982be4">navigation</Composition>
      <Composition Key="0ff8fd21-e8d3-4352-bf67-768764dc35c7">SEO</Composition>
      <Composition Key="580ce106-cd0b-4281-a49a-fd338130dbe2">slider</Composition>
    </Compositions>
    <DefaultTemplate>FormPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c7389b24-5f59-4848-830b-373e47650d14">CareerPage</Template>
      <Template Key="97bce64b-d86b-42d8-9df0-a6e2a7e77142">FormPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fba99486-e7b6-43e5-8d4b-bb9400a84478</Key>
      <Name>Body Sections</Name>
      <Alias>bodySections</Alias>
      <Definition>d9060bd2-7da7-46b8-a81d-624d0a96389c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the body sections.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f8f2329-3c19-4061-b949-78a91bbeb4af</Key>
      <Name>Section Body Text</Name>
      <Alias>sectionBodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the body text for this section.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>46c76a0e-811f-439e-b3c0-386875593e9b</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title of this section.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>021ac25b-9029-4c1c-b879-6aaea01e9b8b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>