<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5276324-c1e9-465f-a0fc-198dc02040d8" Alias="gastronomyListPage" Level="2">
  <Info>
    <Name>GastronomyListPage</Name>
    <Icon>icon-food color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main gastronomy page of this website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b8917bbd-154d-4356-9a39-dc3252982be4">navigation</Composition>
      <Composition Key="0ff8fd21-e8d3-4352-bf67-768764dc35c7">SEO</Composition>
      <Composition Key="580ce106-cd0b-4281-a49a-fd338130dbe2">slider</Composition>
    </Compositions>
    <DefaultTemplate>GastronomyListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8c413788-a28d-47f8-ae05-32e1839fbf28">GastronomyListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="63b9d530-2ef8-4a04-a894-9c37a77f292f" SortOrder="0">gastronomyInnerPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>68e32c60-a6f1-4633-8b0b-cb02ff185d66</Key>
      <Name>Body Sections</Name>
      <Alias>bodySections</Alias>
      <Definition>d9060bd2-7da7-46b8-a81d-624d0a96389c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the body sections.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>901b1391-a7ae-4320-91cd-246089e1ce07</Key>
      <Name>Section Body Text</Name>
      <Alias>sectionBodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the body text for this section.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4077d1e-20a5-44e3-911e-28f1ad2a6c8e</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title of this section.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e5948595-0ff0-4579-ab74-86653fedcc04</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>