<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3cfb70b7-fec2-4af7-9c70-27d4041ced82" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the home page of this website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0a3fc8e9-72e6-479a-89ce-a9a33a76c0e5">espaBanners</Composition>
      <Composition Key="b8917bbd-154d-4356-9a39-dc3252982be4">navigation</Composition>
      <Composition Key="25d3f263-b761-4641-af7c-7d0f381ede81">popup</Composition>
      <Composition Key="0af0c787-9eae-4ca1-80ad-4367ebf0ef4a">schema</Composition>
      <Composition Key="8f5c784b-3ac7-4f26-ae6d-47116047f3fb">scripts</Composition>
      <Composition Key="0ff8fd21-e8d3-4352-bf67-768764dc35c7">SEO</Composition>
      <Composition Key="7788f340-f8f2-4609-9c2b-a34093e2cc12">siteSettings</Composition>
      <Composition Key="580ce106-cd0b-4281-a49a-fd338130dbe2">slider</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2d709d4d-fe15-4b66-83df-3e0765ae3fd1">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2b9034fc-5f53-4d29-9ceb-35f651383694" SortOrder="0">hotelListPage</ContentType>
    <ContentType Key="9460419a-2dca-491f-87f2-7534f403e6ce" SortOrder="1">accommodationPage</ContentType>
    <ContentType Key="a5276324-c1e9-465f-a0fc-198dc02040d8" SortOrder="2">gastronomyListPage</ContentType>
    <ContentType Key="b362d62b-4282-42e9-8e87-6b838bb9c1e8" SortOrder="3">exploreListPage</ContentType>
    <ContentType Key="c9b15be0-8e23-417c-afed-c7966c6d6b91" SortOrder="4">formPage</ContentType>
    <ContentType Key="a8481300-9ff3-46a5-ac1a-d4a0a2fe1244" SortOrder="5">galleriesPage</ContentType>
    <ContentType Key="0d81330c-fd59-4dc9-8cca-51838410ec64" SortOrder="6">textpage</ContentType>
    <ContentType Key="2a648b84-10dc-471c-9c62-b5a8d56efade" SortOrder="7">offersPage</ContentType>
    <ContentType Key="1f10f7e5-7c03-4fbc-94bc-9d64dfb8bce1" SortOrder="8">awardsPage</ContentType>
    <ContentType Key="05301c74-e191-4e3d-bfb3-29b13a1e7360" SortOrder="9">cookieSettingsPage</ContentType>
    <ContentType Key="caf69f8f-2fac-4c87-a959-eb1f6a6e0a7c" SortOrder="10">xmlSiteMap</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2f469be9-58f6-45fe-b71a-46d439725477</Key>
      <Name>Awards</Name>
      <Alias>awards</Alias>
      <Definition>8138d2b9-db45-4bbc-bb75-8e2aad54f657</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the awards.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="reviewsAwardsInstagram">Reviews-Awards-Instagram</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22c81198-6e67-466f-b1d2-fab4059d017b</Key>
      <Name>Body Sections</Name>
      <Alias>bodySections</Alias>
      <Definition>d9060bd2-7da7-46b8-a81d-624d0a96389c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the body sections.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b68a78ee-4a55-400d-9e99-e3cf326893f2</Key>
      <Name>Instagram Images</Name>
      <Alias>instagramImages</Alias>
      <Definition>1b661f40-2242-4b44-b9cb-3990ee2b13c0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the Instagram images.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="reviewsAwardsInstagram">Reviews-Awards-Instagram</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d497a754-dd09-414a-b622-68b709d89ffd</Key>
      <Name>Instagram Link</Name>
      <Alias>instagramLink</Alias>
      <Definition>bebffffe-c7be-42e7-97ea-d03caf23661c</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the Instagram link.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="reviewsAwardsInstagram">Reviews-Awards-Instagram</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>385cb477-0e3c-4bd4-b68c-971eba0bd958</Key>
      <Name>Reviews</Name>
      <Alias>reviews</Alias>
      <Definition>c30304bd-dbd2-421f-a571-ba89565867c0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the reviews.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="reviewsAwardsInstagram">Reviews-Awards-Instagram</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0848f273-c86a-4c21-ba6e-79f258f97516</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a743fe4a-cceb-4a07-bcfd-2bd7ab16c8c9</Key>
      <Caption>Reviews-Awards-Instagram</Caption>
      <Alias>reviewsAwardsInstagram</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>