<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="280850f7-445e-4e0f-927f-7cebf484b760" Alias="offerPage" Level="2">
  <Info>
    <Name>OfferPage</Name>
    <Icon>icon-tag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the offer page of this website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b8917bbd-154d-4356-9a39-dc3252982be4">navigation</Composition>
      <Composition Key="0ff8fd21-e8d3-4352-bf67-768764dc35c7">SEO</Composition>
      <Composition Key="580ce106-cd0b-4281-a49a-fd338130dbe2">slider</Composition>
    </Compositions>
    <DefaultTemplate>OfferPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2d57f09a-c4c3-47ad-a884-82e3f16923b0">OfferPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1b8463c9-e318-456b-982a-514cc53768dc</Key>
      <Name>Body Sections</Name>
      <Alias>bodySections</Alias>
      <Definition>d9060bd2-7da7-46b8-a81d-624d0a96389c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the body sections.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f553e81-a779-48ba-ae01-9f2296dd2a70</Key>
      <Name>Image For Listing</Name>
      <Alias>imageForListing</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the image for listing.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="listingSettings">Listing Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e935390-ba5f-4ed8-b6be-b222e776376a</Key>
      <Name>Offer Body Text</Name>
      <Alias>offerBodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the offer body text.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>695cc7b3-5635-431a-a997-719cd27804a7</Key>
      <Name>Offer Booking Link</Name>
      <Alias>offerBookingLink</Alias>
      <Definition>bebffffe-c7be-42e7-97ea-d03caf23661c</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the offer booking link.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68af6ef2-1ad4-4a54-b1bf-590880ef3e6f</Key>
      <Name>Offer Title</Name>
      <Alias>offerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title of the offer.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c4c9d40-cd20-43b6-8305-97707b124b41</Key>
      <Name>Short Description</Name>
      <Alias>shortDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the short description.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="listingSettings">Listing Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0251efe0-18d7-49d1-a39f-8625b4621b0e</Key>
      <Caption>Listing Settings</Caption>
      <Alias>listingSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>4372526f-c95a-4fe7-8b27-8801def9e922</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>