<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="580ce106-cd0b-4281-a49a-fd338130dbe2" Alias="slider" Level="2">
  <Info>
    <Name>Slider</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a6299a4c-cc57-4f2a-9a33-83f1f4facdbc</Key>
      <Name>Fallback Video Url</Name>
      <Alias>fallbackVideoUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter here the fallback video url.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="slider">Slider</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8922a14c-17e3-4cd2-8dbe-c9c3434af248</Key>
      <Name>Hide Slider</Name>
      <Alias>hideSlider</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Click this if you want to hide the slider.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="slider">Slider</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd921af9-309e-4610-9f9a-cfe35526c647</Key>
      <Name>Images Slider</Name>
      <Alias>imagesSlider</Alias>
      <Definition>ad81fd68-4c08-4f49-8b26-92169385fe1a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the images you want to appear in the slider.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="slider">Slider</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2241deaf-d9af-4029-b63f-57ca7974fb45</Key>
      <Name>Text on Slider</Name>
      <Alias>textOnSlider</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the text that will be on the slider.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="slider">Slider</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d81d2939-9ad4-4a3c-bf22-ae47eef41852</Key>
      <Name>Video Url</Name>
      <Alias>videoUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter here the video url.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="slider">Slider</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>188a5c7b-6401-4470-90d1-c55c5f0dc408</Key>
      <Name>YouTube Video Url</Name>
      <Alias>youTubeVideoUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter here the youtube video url.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="slider">Slider</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ff9b345f-ab28-430b-88a8-049351bb7b8a</Key>
      <Caption>Slider</Caption>
      <Alias>slider</Alias>
      <Type>Tab</Type>
      <SortOrder>40</SortOrder>
    </Tab>
  </Tabs>
</ContentType>