<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="caf69f8f-2fac-4c87-a959-eb1f6a6e0a7c" Alias="xmlSiteMap" Level="2">
  <Info>
    <Name>XmlSiteMap</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b8917bbd-154d-4356-9a39-dc3252982be4">navigation</Composition>
    </Compositions>
    <DefaultTemplate>XmlSiteMap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a72dffd-5924-4a33-97af-e90711a1428e">XmlSiteMap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3c161f24-8734-4544-a4df-c3a3b6f23759</Key>
      <Name>Blacklisted Document</Name>
      <Alias>blacklistedDocument</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[xmlsitemap]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>62b6f4ea-eaef-463f-8cce-f2d8da9e412f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>