<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d084441-f577-4a8b-9bae-08f9b032f299" Alias="1000metres" Level="1">
  <Info>
    <Parent>MAP CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Up to 1000 meters</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>