<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7625928e-59ea-4855-b892-cfa0b2a90e45" Alias="400metres" Level="1">
  <Info>
    <Parent>MAP CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Up to 400 meters</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>