<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="729b25e3-82f9-4e66-9507-36656878c4c2" Alias="600metres" Level="1">
  <Info>
    <Parent>MAP CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Up to 600 meters</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>