<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="825400f5-bf78-4527-8d0c-6299eb980552" Alias="all" Level="1">
  <Info>
    <Parent>ROOM CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">All</Translation>
  </Translations>
</Dictionary>