<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7ed26b4b-e625-4f5c-832e-d53c58d789ae" Alias="AltText-HeaderLogo" Level="1">
  <Info>
    <Parent>AltText - AriaLabel</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">Eyewide Digital Marketing λογότυπο</Translation>
    <Translation Language="en-US">Eyewide Digital Marketing logo</Translation>
  </Translations>
</Dictionary>