<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b3dd4df6-06c5-46db-8bfc-82b78b691e87" Alias="AriaLabel-MenuEmail" Level="1">
  <Info>
    <Parent>AltText - AriaLabel</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">Διεύθυνση ηλεκτρονικού ταχυδρομείου</Translation>
    <Translation Language="en-US">Email Adress</Translation>
  </Translations>
</Dictionary>