<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b9b541a1-1c14-472c-8011-03af05bf7b55" Alias="AriaLabel-MenuTelephone" Level="1">
  <Info>
    <Parent>AltText - AriaLabel</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">Τηλεφωνικός αριθμός</Translation>
    <Translation Language="en-US">Telephone number</Translation>
  </Translations>
</Dictionary>