<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4e76cd4a-d3b5-465e-ace9-adab0011961d" Alias="ButtonNext" Level="1">
  <Info>
    <Parent>BUTTONS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">ΕΠΟΜΕΝΟ</Translation>
    <Translation Language="en-US">NEXT</Translation>
  </Translations>
</Dictionary>