<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e6e8591c-5d56-4ce7-9908-df86e57e2974" Alias="ButtonOnlineCheckIn" Level="1">
  <Info>
    <Parent>BUTTONS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">E-CHECK IN</Translation>
    <Translation Language="en-US">E-CHECK IN</Translation>
  </Translations>
</Dictionary>