<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83ebb593-9287-46a5-8fb7-9d4f7034383f" Alias="ButtonMore" Level="1">
  <Info>
    <Parent>BUTTONS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">More</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>