<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55253688-ede8-4383-999d-410ee0b24213" Alias="ButtonBookNow" Level="1">
  <Info>
    <Parent>BUTTONS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">ΚΑΝΤΕ ΚΡΑΤΗΣΗ</Translation>
    <Translation Language="en-US">BOOK NOW</Translation>
  </Translations>
</Dictionary>