<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="651345e8-f2da-4c5c-9348-41eca59091e6" Alias="ButtonMenu" Level="1">
  <Info>
    <Parent>BUTTONS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">menu</Translation>
    <Translation Language="en-US">menu</Translation>
  </Translations>
</Dictionary>