<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4bcc426b-66dc-4576-a577-92def2a10a79" Alias="ButtonSend" Level="1">
  <Info>
    <Parent>BUTTONS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">SEND</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>