<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5f0839cd-ff27-48ba-9f64-dc32658e8118" Alias="ButtonSignUp" Level="1">
  <Info>
    <Parent>BUTTONS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">SIGN UP</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>