<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bf0190fe-d644-4870-818c-366a1a96b739" Alias="Comfort" Level="1">
  <Info>
    <Parent>ROOM CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Comfort Rooms</Translation>
  </Translations>
</Dictionary>