<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c81e8c2f-0ea3-49a7-9948-616ddb1a8b49" Alias="Deluxe" Level="1">
  <Info>
    <Parent>ROOM CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Deluxe Rooms &amp; Suites</Translation>
  </Translations>
</Dictionary>