<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e818ab4c-492e-4409-9704-c000f0cab476" Alias="FooterCopyright" Level="1">
  <Info>
    <Parent>FOOTER</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">© 2025 Template3. All rights reserved | Designed and developed by Eyewide - Leading Hotel Website Agency Greece</Translation>
    <Translation Language="en-US">© 2025 Template3. All rights reserved | Designed and developed by Eyewide - Leading Hotel Website Agency Greece</Translation>
  </Translations>
</Dictionary>