<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b44e4262-46a3-4b78-9bfc-9a96ad860f79" Alias="FormTelephone" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Telephone *</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>