<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="656d9d62-5e84-4f85-a60b-d624d63c6a72" Alias="FormNewsletterCheckbox" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Yes, I’d love to stay connected! I consent to receive exclusive offers, updates, and news from Sentido Apollo Palace Hotel directly to my inbox.</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>