<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d1bec1c8-b00d-4217-a31b-23a7ecda752e" Alias="FormEmail" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Email *</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>