<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3988d312-a85c-46e2-a28c-07fe6af861bb" Alias="FormSurname" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Surname *</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>