<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cd2587da-70dd-4dc9-8e64-e3763273df03" Alias="FormUploadCV" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">UPLOAD CV *</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>