<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5e1a4d8c-5ab4-46ac-9b35-2790cf6ac1e9" Alias="FormName" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Name *</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>