<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="38f8b82d-d03d-4d44-afeb-6eff4b0fe389" Alias="FormMessage" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Message</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>