<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e2ffcb27-c239-4448-b2fb-ac7995d041cf" Alias="FormAgree" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">I have read and agree to the terms outlined in the &lt;a href="/privacy-policy" target="_blank"&gt;&lt;u&gt;Privacy policy&lt;/u&gt;&lt;/a&gt;. *</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>