<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cd5e1567-793f-42bf-b444-48e0eb0ad119" Alias="HeaderEmail" Level="1">
  <Info>
    <Parent>HEADER</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">E:</Translation>
    <Translation Language="en-US">E:</Translation>
  </Translations>
</Dictionary>