<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8641980e-4245-48bd-9c40-b1f844e0aafc" Alias="HeaderAwards" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">βραβεια</Translation>
    <Translation Language="en-US">Awards</Translation>
  </Translations>
</Dictionary>