<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8f837e5b-5d30-4d74-a318-bde9fc9038f7" Alias="HeaderFacilities" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Facilities &amp; Amenities</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>