<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b1edf202-7847-441b-98a6-090033af40a6" Alias="HeaderViewAlso" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">VIEW ALSO</Translation>
  </Translations>
</Dictionary>