<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd1aa1f2-53dd-40f5-a4af-64a72ef028e1" Alias="HeaderExplore" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">EXPLORE</Translation>
    <Translation Language="en-US">EXPLORE</Translation>
  </Translations>
</Dictionary>