<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e054a9d2-efd7-458a-9e90-86abd1a32a6c" Alias="HeaderInstagram" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">&lt;span class="section-subtitle"&gt;WE’RE ON INSTAGRAM &lt;/span&gt;
#eyewidedigitalmarketing</Translation>
  </Translations>
</Dictionary>