<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8b595cea-91da-41e2-93bc-3364f23bbff1" Alias="HeaderFax" Level="1">
  <Info>
    <Parent>HEADER</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">F:</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>