<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="238aa971-4cf6-486c-ab06-197e43c048eb" Alias="HeaderReviews" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">WHAT OUR GUESTS SAY
&lt;span class="section-subtitle"&gt;Reviews &lt;/span&gt;</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>