<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ca000ea0-bf2b-4598-bc67-3c864109b7c2" Alias="HeaderTel" Level="1">
  <Info>
    <Parent>HEADER</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">Τ:</Translation>
    <Translation Language="en-US">T:</Translation>
  </Translations>
</Dictionary>