<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a1437618-0fd6-4e42-80ba-511bbaa0250c" Alias="HeaderOtherRooms" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Other rooms</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>