<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eb057f43-2f12-4737-91ec-34de3bebfb98" Alias="HeaderMHTE" Level="1">
  <Info>
    <Parent>HEADER</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR">ΜΗΤ.Ε.:</Translation>
    <Translation Language="en-US">ΜΗΤ.Ε.:</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>