<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8885ce37-9af5-4b3b-8251-145bcc753813" Alias="HeaderVAT" Level="1">
  <Info>
    <Parent>HEADER</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">ΑΦΜ:</Translation>
    <Translation Language="en-US">VAT Nr.:</Translation>
  </Translations>
</Dictionary>