<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b6600fa3-03a2-4dfc-9f4e-3679a5a5fd6e" Alias="HeaderNewsletter" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">NEWSLETTER</Translation>
    <Translation Language="en-US">NEWSLETTER</Translation>
  </Translations>
</Dictionary>