<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ace19207-b3ed-4336-9b38-304ed9f13910" Alias="HeaderFloorPlan" Level="1">
  <Info>
    <Parent>HEADERS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Floor Plan</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>