<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3781ec7a-54f1-4f83-b7f8-abe3d23cde13" Alias="HistoricalsitesMunicipalplaces" Level="1">
  <Info>
    <Parent>MAP CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Historical sites &amp; Municipal places</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>