<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8990dc58-1adf-48a6-b7da-0f49c770b6c8" Alias="MAP CATEGORIES" Level="0">
  <Info />
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US"></Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>