<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="efb7ef21-3561-42ba-9a5c-d50806ece0a1" Alias="mapLink" Level="1">
  <Info>
    <Parent>HEADER</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">https://maps.app.goo.gl/KEnZFn7y4ypvgKDC7</Translation>
    <Translation Language="en-US">https://maps.app.goo.gl/KEnZFn7y4ypvgKDC7</Translation>
  </Translations>
</Dictionary>