<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ac664c35-aeea-4046-b721-a3c66ade638d" Alias="MuseumsChurches" Level="1">
  <Info>
    <Parent>MAP CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Museums &amp; Churches</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>