<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a3082c4b-cf58-4466-a855-d9e29946f4dc" Alias="poi" Level="1">
  <Info>
    <Parent>MAP CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">P.O.I.</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>