<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f1184b30-8971-48eb-85d9-67effc35ab9a" Alias="PrivatePool" Level="1">
  <Info>
    <Parent>ROOM CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Private Pool Rooms &amp; Suites</Translation>
  </Translations>
</Dictionary>