<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="42620b2d-b392-4c60-abc6-ed026e59659a" Alias="res_Arrival" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">ANKUNFT</Translation>
    <Translation Language="el-GR">ΑΦΙΞΗ</Translation>
    <Translation Language="en-US">ARRIVAL</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>