<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b77fbef7-4cb2-4eb0-ae1f-185f06adc97f" Alias="res_Infant" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">Kinder </Translation>
    <Translation Language="el-GR">Βρεφη</Translation>
    <Translation Language="en-US">Infant</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>