<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8dfb77f-9bda-4bc6-8587-3b4242e4468d" Alias="res_Adults" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">ERWACHSENE</Translation>
    <Translation Language="el-GR">ΕΝΗΛΙΚΕΣ</Translation>
    <Translation Language="en-US">ADULTS</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>