<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="19981b08-ad1f-4925-ba40-55ef78a82f33" Alias="res_Departure" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">ABREISE</Translation>
    <Translation Language="el-GR">ΑΝΑΧΩΡΗΣΗ</Translation>
    <Translation Language="en-US">DEPARTURE</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>