<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d4cc6f10-50e6-4336-a767-40b8d954c717" Alias="res_Children" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE">KINDER</Translation>
    <Translation Language="el-GR">ΠΑΙΔΙΑ</Translation>
    <Translation Language="en-US">CHILDREN</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>