<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="250bc4f6-0576-4698-9e73-a3c5d4b57646" Alias="res_Rooms" Level="1">
  <Info>
    <Parent>FORMS</Parent>
  </Info>
  <Translations>
    <Translation Language="de-DE"></Translation>
    <Translation Language="el-GR">ΔΩΜΑΤΙΑ</Translation>
    <Translation Language="en-US">ROOMS</Translation>
    <Translation Language="fr-FR"></Translation>
    <Translation Language="it-IT"></Translation>
  </Translations>
</Dictionary>