<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c4406c1d-34a3-421c-8d48-793e62930d8e" Alias="Superior" Level="1">
  <Info>
    <Parent>ROOM CATEGORIES</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR"></Translation>
    <Translation Language="en-US">Superior Rooms</Translation>
  </Translations>
</Dictionary>