<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c0b9fbb4-91b0-415c-a075-9e00f93d86ab" Alias="TelephoneNumber" Level="1">
  <Info>
    <Parent>HEADER</Parent>
  </Info>
  <Translations>
    <Translation Language="el-GR">+302810250180</Translation>
    <Translation Language="en-US">+302810250180</Translation>
  </Translations>
</Dictionary>