@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var selection = Model?.Ancestors()?.ToArray() ?? Array.Empty<IPublishedContent>();
    var currentTitle = Model?.Value("menuTitle")?.ToString();
}

@if (selection.Length > 0)
{
    <div class="breadcrumb bg-section">
        <div class="holder px-2 px-sm-3 px-xl-5 text-start">
            <ul class="list-unstyled d-inline-flex flex-wrap justify-content-center">

                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    var itemTitle = item?.Value("menuTitle")?.ToString();

                    if (!string.IsNullOrWhiteSpace(itemTitle))
                    {
                        <li>
                            <a href="@item?.Url()">
                                @Html.Raw(itemTitle)
                            </a>
                        </li>
                    }
                }

                @if (!string.IsNullOrWhiteSpace(currentTitle))
                {
                    <li class="active">
                        @Html.Raw(currentTitle)
                    </li>
                }

            </ul>
        </div>
    </div>
}
