<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3888570-d883-41e8-8a20-e704f07f0af9" Alias="Awards" Level="2">
  <Info>
    <Parent Key="9005cda9-7681-47b7-b43a-6c60b1d34ae1">Various</Parent>
    <Path>/Various/Awards</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-28T10:47:25</CreateDate>
    <NodeName Default="Awards" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>