<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0acd94e-8294-4e22-b11c-01fedfdbb118" Alias="Bar 3" Level="2">
  <Info>
    <Parent Key="13685a26-5308-4869-bd58-266b5af2a82b">Images</Parent>
    <Path>/Images/Bar3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:49:09</CreateDate>
    <NodeName Default="Bar 3" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jdmlzqeu/bar-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>