<?xml version="1.0" encoding="utf-8"?>
<Media Key="da6e6309-2be7-403c-8cbc-64e0d9673a89" Alias="Bar 2" Level="2">
  <Info>
    <Parent Key="13685a26-5308-4869-bd58-266b5af2a82b">Images</Parent>
    <Path>/Images/Bar2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:49:08</CreateDate>
    <NodeName Default="Bar 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b3rh3wxh/bar-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>