<?xml version="1.0" encoding="utf-8"?>
<Media Key="824bcdf7-369f-4a3a-95ba-eba38b80b471" Alias="Eyewidedigitalmarketing Logo" Level="3">
  <Info>
    <Parent Key="8f35e791-ba6d-42c3-ab56-af5cb4a1af97">Logo</Parent>
    <Path>/Various/Logo/EyewidedigitalmarketingLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-28T10:46:44</CreateDate>
    <NodeName Default="Eyewidedigitalmarketing Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y1gfxau5/eyewidedigitalmarketing-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>