<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa4f0a16-ed98-4916-b342-2aaef5f5b96e" Alias="Eyewidedigitalmarketingfavico" Level="3">
  <Info>
    <Parent Key="8f35e791-ba6d-42c3-ab56-af5cb4a1af97">Logo</Parent>
    <Path>/Various/Logo/Eyewidedigitalmarketingfavico</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:46:44</CreateDate>
    <NodeName Default="Eyewidedigitalmarketingfavico" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cafe5kuy/eyewidedigitalmarketingfavico.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>