<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cb4406c-d068-4802-bd82-d71954938258" Alias="Facebook" Level="3">
  <Info>
    <Parent Key="67de2dd7-9439-4cdb-ad61-6f81fce0d5a7">Icons</Parent>
    <Path>/Various/Icons/Facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-28T10:47:06</CreateDate>
    <NodeName Default="Facebook" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lvaljhdi/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>