<?xml version="1.0" encoding="utf-8"?>
<Media Key="67de2dd7-9439-4cdb-ad61-6f81fce0d5a7" Alias="Icons" Level="2">
  <Info>
    <Parent Key="9005cda9-7681-47b7-b43a-6c60b1d34ae1">Various</Parent>
    <Path>/Various/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-28T10:46:52</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>