<?xml version="1.0" encoding="utf-8"?>
<Media Key="c43f3ff3-8cb4-47e1-94b7-e2a6e3cde225" Alias="Image 2" Level="2">
  <Info>
    <Parent Key="13685a26-5308-4869-bd58-266b5af2a82b">Images</Parent>
    <Path>/Images/Image2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:49:08</CreateDate>
    <NodeName Default="Image 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4u5d5rfu/image-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>