<?xml version="1.0" encoding="utf-8"?>
<Media Key="15f59dc5-a502-4c65-afd3-048c82997f5f" Alias="Image 4" Level="2">
  <Info>
    <Parent Key="13685a26-5308-4869-bd58-266b5af2a82b">Images</Parent>
    <Path>/Images/Image4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:49:08</CreateDate>
    <NodeName Default="Image 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yoopkfic/image-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>