<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa9d607f-06af-4159-b339-de46a909954a" Alias="Image 9" Level="2">
  <Info>
    <Parent Key="13685a26-5308-4869-bd58-266b5af2a82b">Images</Parent>
    <Path>/Images/Image9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:49:10</CreateDate>
    <NodeName Default="Image 9" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pfqj14vp/image-9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>