<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec8a3f23-e67a-449f-a111-84c1906883bf" Alias="Instagram" Level="3">
  <Info>
    <Parent Key="67de2dd7-9439-4cdb-ad61-6f81fce0d5a7">Icons</Parent>
    <Path>/Various/Icons/Instagram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-28T11:53:01</CreateDate>
    <NodeName Default="Instagram" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ci5jv1d0/instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>