<?xml version="1.0" encoding="utf-8"?>
<Media Key="446ee67d-2f41-4849-96dc-98bdf0e21a26" Alias="Linkedin" Level="3">
  <Info>
    <Parent Key="67de2dd7-9439-4cdb-ad61-6f81fce0d5a7">Icons</Parent>
    <Path>/Various/Icons/Linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-28T10:47:07</CreateDate>
    <NodeName Default="Linkedin" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jttg2rcb/linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>