<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f35e791-ba6d-42c3-ab56-af5cb4a1af97" Alias="Logo" Level="2">
  <Info>
    <Parent Key="9005cda9-7681-47b7-b43a-6c60b1d34ae1">Various</Parent>
    <Path>/Various/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-28T10:46:41</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>