<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0546fa6-9914-4257-ba98-3964ff2e16ea" Alias="Resto 3" Level="2">
  <Info>
    <Parent Key="13685a26-5308-4869-bd58-266b5af2a82b">Images</Parent>
    <Path>/Images/Resto3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:49:11</CreateDate>
    <NodeName Default="Resto 3" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ubxfjqau/resto-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>