<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc317b8a-ebde-465f-a6a5-cdeef717f487" Alias="Room 5" Level="2">
  <Info>
    <Parent Key="13685a26-5308-4869-bd58-266b5af2a82b">Images</Parent>
    <Path>/Images/Room5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:49:12</CreateDate>
    <NodeName Default="Room 5" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rr3ddtg4/room-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>