<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bbc65ce-674e-4408-a7fa-5a891d623307" Alias="Room 1" Level="2">
  <Info>
    <Parent Key="13685a26-5308-4869-bd58-266b5af2a82b">Images</Parent>
    <Path>/Images/Room1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-28T10:49:11</CreateDate>
    <NodeName Default="Room 1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <altTextGR>
      <Value><![CDATA[]]></Value>
    </altTextGR>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zbslyg0o/room-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>