<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd120924-1219-4a13-8337-e986546da10a" Alias="Tiktok" Level="3">
  <Info>
    <Parent Key="67de2dd7-9439-4cdb-ad61-6f81fce0d5a7">Icons</Parent>
    <Path>/Various/Icons/Tiktok</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-28T10:47:07</CreateDate>
    <NodeName Default="Tiktok" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cuebf5iz/tiktok.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>