<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef064ed4-60fd-4a9a-8071-88e274042242" Alias="Various" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Various</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-12T09:29:24</CreateDate>
    <NodeName Default="Various" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>