<?xml version="1.0" encoding="utf-8"?>
<Media Key="9005cda9-7681-47b7-b43a-6c60b1d34ae1" Alias="Various" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Various</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-28T10:10:43</CreateDate>
    <NodeName Default="Various" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>