<?xml version="1.0" encoding="utf-8"?>
<Media Key="56b3b655-3095-4cb4-a08c-ca4a36b1ae6b" Alias="Youtube" Level="3">
  <Info>
    <Parent Key="67de2dd7-9439-4cdb-ad61-6f81fce0d5a7">Icons</Parent>
    <Path>/Various/Icons/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-28T10:47:07</CreateDate>
    <NodeName Default="Youtube" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ms1lgvuv/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>