<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c30304bd-dbd2-421f-a571-ba89565867c0" Alias="[BlockList] - blockReviews" Level="2">
  <Info>
    <Name>[BlockList] - blockReviews</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9a18cd02-3543-4e07-97c2-e0c6bdc03d92",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{reviewTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>