<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8138d2b9-db45-4bbc-bb75-8e2aad54f657" Alias="[BlockList] - blockAwards" Level="2">
  <Info>
    <Name>[BlockList] - blockAwards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e378a083-45c4-43f0-b902-1782208c7be1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{awardTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>