<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f975642-8c63-43bf-8b42-0cddb82c9b0b" Alias="[BlockList] - blockRoomDetails" Level="2">
  <Info>
    <Name>[BlockList] - blockRoomDetails</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e2139adf-d4b3-4a8b-89b8-f514e77fcbef",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>