<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aebd2cf0-37f5-4a1b-be5b-a6ce0a15df47" Alias="blockChaniaMap - Category - Dropdown" Level="1">
  <Info>
    <Name>blockChaniaMap - Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "400"
    },
    {
      "id": 2,
      "value": "600"
    },
    {
      "id": 3,
      "value": "1000"
    },
    {
      "id": 4,
      "value": "MuseumsChurches"
    },
    {
      "id": 5,
      "value": "POI"
    },
    {
      "id": 6,
      "value": "HistoricalsitesMunicipalplaces"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>