<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52616c80-4e0f-4c08-8900-87c28bc4ce01" Alias="[BlockList] - blockContactDetails" Level="2">
  <Info>
    <Name>[BlockList] - blockContactDetails</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f9a50707-90ef-4223-bc0b-860d50de9f55",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{address}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>