<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7bcdbfa-66e4-4768-9b4a-e305177cd176" Alias="[BlockList] - blockChaniaMap" Level="2">
  <Info>
    <Name>[BlockList] - blockChaniaMap</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "cfedbc8a-8896-449f-8264-876db7102e99",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{destinationTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>