<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9060bd2-7da7-46b8-a81d-624d0a96389c" Alias="Body Sections - Block List" Level="2">
  <Info>
    <Name>Body Sections - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ca048e25-5b7d-4576-87e7-18e0bf0c1717",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{sectionTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": "~/images/row-section-block.jpg",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f96d7b5c-bb60-4eab-b397-b7cdf9e8be14",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{sectionTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": "~/images/twoColsSection-block.jpg",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "dba738a3-2e1c-41b1-809f-5e2c5719e6c8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "IMAGE",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": "~/images/images-only-block.jpg",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3ad1e155-3fb0-4b5d-9405-9dfb92c6cdd5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{sectionTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": "~/images/experiences-block.jpg",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e946a0c7-a0c8-4339-b847-24bb53e06764",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{sectionTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": "~/images/text-over-image-block.jpg",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e5a6093a-74e2-483a-afe9-7a86b713c1a7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{sectionTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": "~/images/reasons-block.jpg",
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "91a3b124-ef99-4548-bc93-a20760ab20d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{sectionTitle}}",
      "settingsElementTypeKey": "145c8f18-cdbf-4d2a-a5da-cb25a0baec19",
      "stylesheet": null,
      "thumbnail": "~/images/room-categories-block.jpg",
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>