<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "fullscreen",
      "height": 840,
      "width": 1680
    },
    {
      "alias": "horizontal-xl",
      "height": 740,
      "width": 1200
    },
    {
      "alias": "horizontal-lg",
      "height": 685,
      "width": 1024
    },
    {
      "alias": "horizontal-md",
      "height": 640,
      "width": 960
    },
    {
      "alias": "horizontal-sm",
      "height": 520,
      "width": 780
    },
    {
      "alias": "horizontal-xs",
      "height": 400,
      "width": 575
    },
    {
      "alias": "square-xl",
      "height": 860,
      "width": 1024
    },
    {
      "alias": "square-lg",
      "height": 740,
      "width": 880
    },
    {
      "alias": "square-md",
      "height": 740,
      "width": 740
    },
    {
      "alias": "square-sm",
      "height": 580,
      "width": 580
    },
    {
      "alias": "vertical-xl",
      "height": 820,
      "width": 740
    },
    {
      "alias": "vertical-lg",
      "height": 740,
      "width": 640
    },
    {
      "alias": "vertical-md",
      "height": 600,
      "width": 540
    },
    {
      "alias": "vertical-sm",
      "height": 525,
      "width": 420
    }
  ]
}]]></Config>
</DataType>