<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fff134a8-4d61-416c-ad5b-5bff21f6c1b5" Alias="Room Categories" Level="2">
  <Info>
    <Name>Room Categories</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>CustomDataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "PrivatePool"
    },
    {
      "id": 2,
      "value": "Deluxe"
    },
    {
      "id": 3,
      "value": "Superior"
    },
    {
      "id": 4,
      "value": "Comfort"
    }
  ]
}]]></Config>
</DataType>