<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bebffffe-c7be-42e7-97ea-d03caf23661c" Alias="Single Url Picker" Level="2">
  <Info>
    <Name>Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>CustomDataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>