<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad81fd68-4c08-4f49-8b26-92169385fe1a" Alias="Slider - Multiple Media Picker" Level="2">
  <Info>
    <Name>Slider - Multiple Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>CustomDataTypes</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": true,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 5,
    "min": null
  }
}]]></Config>
</DataType>