<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <location>
        <system.webServer>
            <aspNetCore>
                <environmentVariables xdt:Transform="InsertIfMissing">
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
                </environmentVariables>
            </aspNetCore>
            <security xdt:Transform="InsertAfter(/configuration/location/system.webServer/aspNetCore)">
                <requestFiltering>
                    <!-- ~ Below is the number of bytes allowed, 4GB is the maximum -->
                    <requestLimits maxAllowedContentLength="2000000" />
                </requestFiltering>
            </security>
            <staticContent xdt:Transform="InsertAfter(/configuration/location/system.webServer/security)">
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
                <remove fileExtension=".css"/>
                <mimeMap fileExtension=".css" mimeType="text/css"/>
                <remove fileExtension=".eot"/>
                <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
                <remove fileExtension=".gif"/>
                <mimeMap fileExtension=".gif" mimeType="image/gif"/>
                <remove fileExtension=".html"/>
                <mimeMap fileExtension=".html" mimeType="text/html"/>
                <remove fileExtension=".ico"/>
                <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
                <remove fileExtension=".jpeg"/>
                <mimeMap fileExtension=".jpeg" mimeType="image/jpeg"/>
                <remove fileExtension=".jpg"/>
                <mimeMap fileExtension=".jpg" mimeType="image/jpeg"/>
                <remove fileExtension=".js"/>
                <mimeMap fileExtension=".js" mimeType="application/javascript"/>
                <remove fileExtension=".json"/>
                <mimeMap fileExtension=".json" mimeType="application/json"/>
                <remove fileExtension=".png"/>
                <mimeMap fileExtension=".png" mimeType="image/png"/>
                <remove fileExtension=".svg"/>
                <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
                <remove fileExtension=".woff2"/>
                <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
            </staticContent>
            <httpProtocol xdt:Transform="InsertAfter(/configuration/location/system.webServer/staticContent)">
                <customHeaders>
                    <add name="Connection" value="Keep-Alive" />
                    <remove name="X-Powered-By-Plesk"/>
                    <remove name="X-Powered-By"/>
                    <add name="X-Powered-By" value="Yellow Power Ranger"/>
                    <!-- ENABLE ONLY ON FLAME
											<remove name="Alt-Svc" />
											<add name="Alt-Svc" value='h3=":443"; ma=86400; persist=1' />
											-->
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
</configuration>
