@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks;

@{
    var home = Model.AncestorOrSelf(1);
    var awards = home.Value<IEnumerable<BlockListItem>>("awards");
    var HeaderAwards = Umbraco.GetDictionaryValue("HeaderAwards")?.ToString();
}

<div class="awards mb-3">
    <div class="mt-2 d-flex flex-wrap justify-content-start two-items">
    @foreach (var block in awards ?? Enumerable.Empty<BlockListItem>()){
        var content = block.Content;
        <div class="px-2 mb-4">
            @await Html.PartialAsync("/Views/Partials/blocklist/Components/" + content.ContentType.Alias + ".cshtml", block)
        </div>
    }
    </div>
</div>
