@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@{
	Layout = "Master.cshtml";
	var sectionTitle = Model.Value<string>("sectionTitle") ?? string.Empty;
	var sectionBodyText = Model.Value<string>("sectionBodyText") ?? string.Empty;
	var blockSections = Model.Value<IEnumerable<BlockListItem>>("bodySections");
	var counterBlocks=1;
}

    <section class="py-offset">
        <div class="col-11 col-xl-10 m-auto">
            <div class="content-max-width">    
                @if (!string.IsNullOrEmpty(sectionTitle)){    
                <h1>@Html.Raw(sectionTitle)</h1>}
                @if (!string.IsNullOrEmpty(sectionBodyText)){
                @Html.Raw(sectionBodyText)
                }
                <div class="form-holder">
                    
                    @await Html.PartialAsync("formCareer")
                
            	</div>
                	
            </div>
        </div>
    </section>  

     @if (blockSections?.Any() == true)
    {
        foreach (var block in blockSections)
        {
            var content = block.Content;
            @await Html.PartialAsync("~/Views/Partials/blockList/Components/" + content.ContentType.Alias+".cshtml", block)
            counterBlocks++;
        }
    }