@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GastronomyListPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.Blocks

@{
    Layout = "Master.cshtml";

    var root = Model.Root();

    var sectionTitle = Model.Value<string>("sectionTitle") ?? string.Empty;
    var sectionBodyText = Model.Value<string>("sectionBodyText") ?? string.Empty;

    var blockSections = Model.Value<IEnumerable<BlockListItem>>("bodySections") ?? Enumerable.Empty<BlockListItem>();

    int counterBlocks = 1;

    // Inner pages (null-safe)
    var destinations = Model.DescendantsOfType("gastronomyInnerPage").Where(x => x.IsVisible()).ToList();
}

    <section class="py-offset" id="anchor-section">
        <div class="col-11 col-xl-10 m-auto">

            <div class="content-max-width text-content">

                @if (!string.IsNullOrWhiteSpace(sectionTitle))
                {
                    <h1>@Html.Raw(sectionTitle)</h1>
                }

                @if (!string.IsNullOrWhiteSpace(sectionBodyText))
                {
                    @Html.Raw(sectionBodyText)
                }

            </div>

        </div>
    </section>


    @if (blockSections.Any())
    {
        foreach (var block in blockSections)
        {
            var content = block.Content;

            @await Html.PartialAsync("~/Views/Partials/blockList/Components/" + content.ContentType.Alias + ".cshtml",block)

            counterBlocks++;
        }
    }


    @if (Model.Level >= 2)
    {
        @await Html.PartialAsync("MyBlocks/Listing-subpagesAsContentRows")
    }
