@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks

@{
    Layout = "Master.cshtml";
    var home = Model.AncestorOrSelf(1);
    var blockSections = Model.Value<IEnumerable<BlockListItem>>("bodySections") ?? Enumerable.Empty<BlockListItem>();;
    var counterBlocks= 1;
}

    @if (blockSections?.Any() == true){
        foreach (var block in blockSections){
            var content = block.Content;
            @await Html.PartialAsync("~/Views/Partials/blockList/Components/" + content.ContentType.Alias+".cshtml", block, new ViewDataDictionary(ViewData){{"counter", @counterBlocks}})
            counterBlocks++;
        }
    }


    <section class="row g-0 mt-offset testimonials-section bg-section-light align-items-center">
        <div class="col-12 col-lg-6 instagram">
            @await Html.PartialAsync("MyBlocks/Intro-Instagram")
        </div>

        <div class="col-12 col-lg-6">
            @await Html.PartialAsync("MyBlocks/Intro-reviews")
        </div>
    </section>

    
    