@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models


    <!-- SCROLL TO TOP  -->
    <div id="progress">
        <div id="progress-value">
            <img src="/images/arrow-up-top.svg" alt="scroll to top">
        </div>
    </div>
    <!-- SCROLL TO TOP  -->