@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@{
    var home = Model.AncestorOrSelf(1);
    var instagramLink = home.Value<Link>("instagramLink");
    
}

@if (Model.HasValue("instagramImages")) {
    var mediaItems = Model.Value<IEnumerable<IPublishedContent>>("instagramImages");
    <section class="row g-0 mt-offset bg-section-light pt-offset">
        <div class="instagram">
            <h2 class="h1 text-center">@Html.Raw(Umbraco.GetDictionaryValue("HeaderInstagram"))</h2>
            @if (mediaItems != null) {
            <div class="InstaRow pt-3">
                <div class="row m-0 p-0">
                    @foreach (var j in mediaItems) {
                    <div class="col-6 col-lg-3">
                        <a href="@instagramLink?.Url" aria-label="@instagramLink?.Name" target="@instagramLink?.Target" title="@instagramLink?.Name">
                            <picture>
                                <source data-srcset="@j?.GetCropUrl("square-sm")&amp;format=webp&amp;quality=70" type="image/webp" media="(min-width: 992px)">
                                <source data-srcset="@j?.GetCropUrl("square-sm")&amp;quality=70" type="image/jpeg" media="(min-width: 992px)">
                                <img data-src="@j?.GetCropUrl("square-sm")&amp;quality=70" src="/images/placeholder.png" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", j)" class="img-fluid lazyload">
                            </picture>
                        </a>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </section>
}

    
    