@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks

@{
    var blocksReviews = Model.Value<IEnumerable<BlockListItem>>("reviews") ?? Enumerable.Empty<BlockListItem>();;
    var root = Model.Root();
}

@if (blocksReviews != null && blocksReviews.Any())
{
    <div class="testimonials col-10 col-xxl-7 m-auto pt-5 pt-lg-0">
        @if (!string.IsNullOrEmpty(Umbraco.GetDictionaryValue("HeaderReviews"))){
        <h2 class="text-white">
            @Html.Raw(Umbraco.GetDictionaryValue("HeaderReviews"))
        </h2>
        }
        <div class="swiper testimonialsSwiper pb-5">
            <div class="swiper-wrapper">
                @foreach (var block in blocksReviews)
                {
                    var content = block.Content;
                    <div class="swiper-slide">
                        @await Html.PartialAsync("/Views/Partials/blocklist/Components/" + content.ContentType.Alias + ".cshtml", block)
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
}