@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    var allCultures = Model.Root().Cultures;
}

@if (allCultures.Count() > 1)
{
    <div class="languagesDrop dropdown ms-3 ms-lg-4">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            @currentCulture.Substring(0, 2).ToUpper()
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var (culture, infos) in allCultures){
            if (!culture.Equals(currentCulture, StringComparison.OrdinalIgnoreCase)){
            <li>
                <a href="@(Model.Url(culture) != "#" ? Model.Url(culture) : Model.Root().Url(culture))" class="dropdown-item @(culture.Equals(currentCulture, StringComparison.OrdinalIgnoreCase) ? "active" : null)" aria-label="language">
                    @culture.Substring(0, 2).ToUpper()
                </a>
            </li>}
            }
        </ul>
    </div>
}
