@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var home = Model.Root();
    var hideSlider = Model?.Value<bool>("hideSlider");
    var sliderPhotos = Model?.Value<IEnumerable<MediaWithCrops>>("imagesSlider", fallback: Fallback.ToAncestors);
    var textSlider = Model?.Value("textOnSlider")?.ToString();
}

@if (!hideSlider.GetValueOrDefault() && sliderPhotos != null && sliderPhotos.Any())
{
    <div id="bigCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            @{
                int i = 0;
            }
            @foreach (var item in sliderPhotos)
            {
                <div class="carousel-item @(i == 0 ? "active" : null)">
                    <picture>
                        <source srcset="@item?.GetCropUrl("fullscreen")&amp;format=webp&amp;quality=80" media="(min-width: 1661px)" type="image/webp">
                        <source srcset="@item?.GetCropUrl("fullscreen")&amp;quality=80" media="(min-width: 1661px)" type="image/jpeg">
                        <source srcset="@item?.GetCropUrl("horizontal-xl")&amp;format=webp&amp;quality=80" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="@item?.GetCropUrl("horizontal-xl")&amp;quality=80" media="(min-width: 1200px)" type="image/jpeg">
                        <source srcset="@item?.GetCropUrl("square-lg")&amp;format=webp&amp;quality=80" media="(min-width: 768px)" type="image/webp">
                        <source srcset="@item?.GetCropUrl("square-lg")&amp;quality=80" media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="@item?.GetCropUrl("square-sm")&amp;format=webp&amp;quality=80" media="(min-width: 0px)" type="image/webp">
                        <source srcset="@item?.GetCropUrl("square-sm")&amp;quality=80" media="(min-width: 0px)" type="image/jpeg">
                        <img src="@item?.GetCropUrl("square-sm")&amp;quality=80" alt="@await Html.PartialAsync("/Views/Partials/Shared/_AltTextImage.cshtml", item)">
                    </picture>

                    @if (!string.IsNullOrEmpty(textSlider))
                    {
                        <div class="contentOverSlider">
                            <span>@Html.Raw(textSlider)</span>
                        </div>
                    }
                </div>
                i++;
            }
        </div>

        @if (sliderPhotos.Count() > 1)
        {
            <button class="carousel-control-prev" type="button" data-bs-target="#bigCarousel" data-bs-slide="prev" aria-label="carousel prev button">
                <span class="carousel-control-prev-icon" aria-hidden="true">&#8203;</span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#bigCarousel" data-bs-slide="next" aria-label="carousel next button">
                <span class="carousel-control-next-icon" aria-hidden="true">&#8203;</span>
                <span class="visually-hidden">Next</span>
            </button>
        }
    </div>
   
}
